###############################################################################
#
# Configuration file for the single top analysis.
#
# Modifications:
###############################################################################
#
#
# Set the debug level: the higher, the more printout
DebugLevel: 10
#
# Mass set to MC value for this study.
# If we are optimizing for some top mass, set that mass here:
TopMass: 172.5
#
# Set the synch type
#               Muon, Ele, Tau, Jet
# Loose           11,  21,  31,  41 
# Fake(Medium)    12,  22,  32,
# Tight           13,  23,
####################################
# HadTop     51 ,
# Event BDT     52 ,
# MC  ########### Mu, Ele, Tau, BJet, CJet, LightJet, Top, W, H, Z, Photon  
# GenOnly         61,  62,  63,   64,   65,            66,  67,68,69,79,    71
SyncType: 99
#
# Read in a file listing cuts we want to make (electron channel):
#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.DiLepton.SignalRegion.cuts
#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.DiElectron.SignalRegion.cuts
#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.DiMuon.SignalRegion.cuts
#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.ElectronMuon.SignalRegion.cuts

#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.DiLepton.OppositeCharge.cuts
#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.DiElectron.OppositeCharge.cuts
#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.DiMuon.OppositeCharge.cuts
#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.ElectronMuon.OppositeCharge.cuts

Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.DiLepton.FakeableRegion.cuts
#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.DiElectron.FakeableRegion.cuts
#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.DiMuon.FakeableRegion.cuts
#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.ElectronMuon.FakeableRegion.cuts


#
#
# Read in a file listing the event weight:
Include.WeightsFile: config/weights/MCInformation.weights
#
#
# Read in a file listing the object ID definitions:
Include.ObjectIDFile: macros/ttH/Mor/config/objects/ttHObjects.Mor.noshift.config
#
# Output file with topological variables
Topology.SkimFile: topovars.root
#
# Read in mva files
# el
Include.ElectronMVAFile: config/weights/ttH/el_BDTG.weights.xml
# mu
Include.MuonMVAFile: config/weights/ttH/mu_BDTG.weights.xml
# jet
Include.HjTaggerMVAFile: config/weights/ttH/Hj_csv_BDTG.weights.xml
# hadTop Algorithm
Include.HadTopMVA.bLooseFile: config/weights/ttH/bloose_BDTG.weights.xml
Include.HadTopMVA.bTightFile: config/weights/ttH/btight_BDTG.weights.xml
# Event BDT
Include.DiLepBDT.ttvFile: config/weights/ttH/2lss_ttV_withHj_BDTG.weights.xml
Include.DiLepBDT.ttbarFile: config/weights/ttH/2lss_ttbar_withBDTv8_BDTG.weights.xml

# 2D BDT mapping files
Include.2DBDT.MapFile:config/weights/ttH/binning_2l.root
Event.2DBDTHistName: hTargetBinning

# Events files 
Include.MCTotEventNumberFile: config/weights/MCInformation.weights
#
#
# pile up vtx reweighting 
#Include.pileUpReWeightingFile: config/weights/SingleTopWeights.PileUpReWeight.156.weights
#
# ChargeMis Weight
Include.ChargeMisFile: config/weights/ttH/QF_data_el.root
ChargeMis.HistName: chargeMisId
#
# LeptonFakeRate Weight
Include.LeptonFakeRateFile: config/weights/ttH/FR_data_ttH_mva.root
FakeRate.Muon.HistName: FR_mva090_mu_data_comb
FakeRate.Electron.HistName: FR_mva090_el_data_comb_NC
#
#muonID SFs
Include.MuonIDSFsFile: config/weights/muon/MuonID_BtoF.root
LeptonID.MuonIDSFHistName: MC_NUM_TightID_DEN_genTracks_PAR_pt_eta
#
#
#muonISO SFs
Include.MuonISOSFsFile: config/weights/muon/MuonISO_BtoF.root
LeptonID.MuonIsoSFHistName: TightISO_TightID_pt_eta
#
#
#muonTk SFs
Include.MuonTKSFsFile: config/weights/muon/MuonTK_BtoH.root
#
#
#muonTrig SFs
Include.MuonTrigSFsFile: config/weights/muon/MuonTrig_BtoF.root
LeptonID.MuonTrigSHHistName: IsoMu24_OR_IsoTkMu24_PtEtaBins
#
#
#electron ID SFs
Include.EleIDFileName: config/weights/electron/egammaEffi.txt_EGM2D_id.root
LeptonID.EleIDHistName: EGamma_SF2D
#
#
#electron reco SFs
Include.EleRecoFileName: config/weights/electron/egammaEffi.txt_EGM2D_reco.root
LeptonID.EleRecoHistName: EGamma_SF2D
#
#
#b tag reshaping csv file and tagger name
Include.BTagCSVFile: config/weights/CSVv2_ichep.csv
BTaggerAlgo: CSVv2
#
#
#pileup reweighting files
Include.dataPVFile: config/weights/dataPV.root
Include.mcPVFile: config/weights/mcPV80X.root
Include.minBiasUp: config/weights/minBiasUpPileupHistogram.root
Include.minBiasDown: config/weights/minBiasDownPileupHistogram.root
