###############################################################################
#
# Configuration file for the single top analysis.
#
# Modifications:
###############################################################################
#
#
# Set the debug level: the higher, the more printout
DebugLevel: 10
DebugEvent: 1684261337
SaveCuts: 0 # save cuts instead of really applying cuts if 1
#
# Mass set to MC value for this study.
# If we are optimizing for some top mass, set that mass here:
TopMass: 172.5
#
# Set the synch type
#               Muon, Ele, Tau, Jet
# Loose           11,  21,  31,  41 
# Fake(Medium)    12,  22,  32,
# Tight           13,  23,
####################################
# HadTop     51 ,
# Event BDT     52 ,
# MC  ########### Mu, Ele, Tau, BJet, CJet, LightJet, Top, W, H, Z, Photon  
# GenOnly         61,  62,  63,   64,   65,            66,  67,68,69,79,    71
SyncType: 22
#
# Read in a file listing cuts we want to make (electron channel):
#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.DiLepton.All.cuts

#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.DiLepton.SignalRegion.cuts
#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.DiElectron.SignalRegion.cuts
#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.DiMuon.SignalRegion.cuts
#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.ElectronMuon.SignalRegion.cuts

#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.DiLepton.OppositeCharge.cuts
#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.DiElectron.OppositeCharge.cuts
#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.DiMuon.OppositeCharge.cuts
#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.ElectronMuon.OppositeCharge.cuts

#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.DiLepton.FakeableRegion.cuts
#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.DiElectron.FakeableRegion.cuts
#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.DiMuon.FakeableRegion.cuts
#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.ElectronMuon.FakeableRegion.cuts

Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.DiLepton.TrainMVA.cuts
#Include.CutsFile: macros/ttH/Mor/config/cuts/TTH.MultiLeptons.DiLepton.LeptonSideBand.cuts

#
#
# Read in a file contains the event list from other syncrhonization group:
Include.SyncFile: config/weights/ttH2018/CERNandIHEP_Yield2lss.root
#Include.SyncFile: config/weights/ttH2018/CERN_Yield2lss.root
#Include.SyncFile: config/weights/ttH2018/Test_Yield2lss.root
#
# Read in a file listing the event weight:
Include.WeightsFile: config/weights/MC2017MVAInfo.weights
#
#
# Read in a file listing the object ID definitions:
Include.ObjectIDFile: macros/ttH/Mor/config/objects/ttHObjects.Mor.noshift.config
#
# Output file with topological variables
Topology.SkimFile: topovars.root
#
# Read in mva files
# el
Include.ElectronMVAFile: config/weights/ttH/el_BDTG.weights.xml
# mu
Include.MuonMVAFile: config/weights/ttH/mu_BDTG.weights.xml
# jet
Include.HjTaggerMVAFile: config/weights/ttH/Hj_csv_BDTG.weights.xml
# hadTop Algorithm
Include.HadTopMVA.bLooseFile: config/weights/ttH/bloose_BDTG.weights.xml
Include.HadTopMVA.bTightFile: config/weights/ttH/btight_BDTG.weights.xml
# resTop Algorithm
Include.resTopMVA: config/weights/ttH2018/resTop_xgb_csv_order_deepCTag.xml
# Event BDT
Include.DiLepBDT.ttvFile: config/weights/ttH2018/2lss_ttV_BDTG.weights.xml
Include.DiLepBDT.ttbarFile: config/weights/ttH2018/2lss_ttbar_BDTG.weights.xml
#Include.MultiClass.DNNFile: config/weights/DNN/MultiClass_DNN.weights.xml

# 2D BDT mapping files
Include.2DBDT.MapFile:config/weights/ttH2018/binning_2l.root
Event.2DBDTHistName: hTargetBinning

# Events files 
Include.MCTotEventNumberFile: config/weights/MCInformation.weights
#
#
# pile up vtx reweighting 
#Include.pileUpReWeightingFile: config/weights/SingleTopWeights.PileUpReWeight.156.weights
#
# ChargeMis Weight
#Include.ChargeMisFile: config/weights/ttH2018/ElectronChargeMisIdRates_2017.root
Include.ChargeMisFile: config/weights/ttH2018/ElectronChargeMisIdRates_2017_2018Jun22.root
ChargeMis.HistName: eChargeMisIdRates
#
# LeptonFakeRate Weight
#Include.LeptonFakeRateFile: config/weights/ttH2018/ttH_fr-v1_0_1.root
Include.LeptonFakeRateFile: config/weights/ttH2018/FR_data_ttH_mva.root
FakeRate.Muon.HistName: FR_mva090_mu_data_comb
FakeRate.Electron.HistName: FR_mva090_el_data_comb_NC
#
#muonID SFs
Include.MuonIDSFsFile: config/weights/ttH2018/mu_scaleFactors_ptLt30.root
LeptonID.MuonIDSFHistName: NUM_LooseID_DEN_genTracks_pt_abseta
#
#
#muonISO SFs
Include.MuonISOSFsFile: config/weights/ttH2018/scaleFactors_mu_DxyDzSip8mIso04_over_LooseID.root
LeptonID.MuonIsoSFHistName: NUM_ttHLoo_DEN_LooseID
#
#
#muonTk SFs TGraph
Include.MuonTKSFsFile: config/weights/ttH2018/mu_scaleFactors_trkEff_ptLt10.root
LeptonID.MuonTKSFGraphName: ratio_eff_eta3_dr030e030_corr
#
#
#muonTrig SFs
#Include.MuonTrigSFsFile: config/weights/ttH/TnP_NUM_TightIP2D_DENOM_MediumID_VAR_map_pt_eta.root
#LeptonID.MuonTrigSFHistName: SF

#
#muon LooseToTight SFs 2lss
#Include.MuonLooseToTightSFs2lFile: config/weights/ttH/lepMVAEffSF_m_2lss.root
#LeptonID.MuonLooseToTight2lHistName: sf
#
#muon LooseToTight SFs 3l
#Include.MuonLooseToTightSFs3lFile: config/weights/ttH/lepMVAEffSF_m_3l.root
#LeptonID.MuonLooseToTight3lHistName: sf
#
#electron ID SFs : X:eta, Y:pt for 2017 dataset
Include.EleIDFileName: config/weights/ttH2018/egammaEffi.txt_EGM2D_looseTTH_2017.root
LeptonID.EleID_1_HistName: EGamma_SF2D
#LeptonID.EleID_2_HistName: MVAVLooseElectronToMini4
#LeptonID.EleID_3_HistName: MVAVLooseElectronToConvVetoIHit1
#
#
#electron reco SFs
Include.EleRecoFileName: config/weights/ttH2018/el_scaleFactors_gsf_ptLt20.root
LeptonID.EleRecoHistName: EGamma_SF2D
#
#electron LooseToTight SFs 2lss
#Include.EleLooseToTightSFs2lFile: config/weights/ttH/lepMVAEffSF_e_2lss.root
#LeptonID.EleLooseToTight2lHistName: sf
#
#electron LooseToTight SFs 3l
#Include.EleLooseToTightSFs3lFile: config/weights/ttH/lepMVAEffSF_e_3l.root
#LeptonID.EleLooseToTight3lHistName: sf
#b tag reshaping csv file and tagger name
Include.BTagCSVFile: config/weights/ttH2018/DeepCSV_94XSF_V2_B_F.csv
BTaggerAlgo: DeepCSV
#Include.BTagCSVFile: config/weights/ttH/CSVv2_Moriond17_B_H.csv
#BTaggerAlgo: CSVv2
#
#
#pileup reweighting files
Include.dataPVFile: config/weights/ttH2018/PileupData_ReRecoJSON_Full2017.root
Include.mcPVFile: config/weights/ttH2018/pileup_2017.root
#Include.minBiasUp: config/weights/minBiasUpPileupHistogram.root
#Include.minBiasDown: config/weights/minBiasDownPileupHistogram.root

#Testing JES up systematic
#Systs.doJESUp: 1

#Testing JES down systematic
#Systs.doJESDown: 1
